<div id="page_wrapper">
	<h3><strong>Nova postagem:</strong></h3>

	<%= form_for :post, url: posts_path do |f| %>
		<p>
			<%= f.label 'Título' %><br>
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label 'Texto' %><br>
			<%= f.text_area :body %>
		</p>
		<%= f.submit 'Salvar' %>
	<% end %>
</div>