<div id="post_content">
<h1 class="title"> <strong><%= @post.title %></strong>  </h1>
<p class="date">
<h5>Submitted <%= time_ago_in_words(@post.created_at) %> ago</h5>
</p>
<%= link_to "Editar", edit_post_path(@post) %> | 
<%= link_to "Deletar", post_path(@post), method: :delete, data: {confirm: "Você tem certeza que deseja deletar?"} %>
<hr><br>
<p class="post">
<%= @post.body %>
</p>
<div id="comments">
	<h2><%= @post.comments.count %> Comentários</h2>
	<%= render @post.comments %>
	<h3><strong>Adicione um comentário:</strong></h3>
	<%= render "comments/form" %>
</div>
</div>